@font-face {
    font-family: Calluna;
    src: url(CallunaSansRegular.otf) format("woff")
}

/* reset */
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

*:active,
*:hover {
    outline: 0;
}

ul, ol,
menu {
    list-style: none;
}

.content {
    position: relative;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: Calluna, Arial, sans-serif;
    font-weight: 300;
    color: #3d5358;
    max-width: 60rem;
    margin: 0 auto;
}

.content__list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.specie {
    position: relative;
    width: 14.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 0.75rem;
    border-radius: 6px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 10% 50%;
    transform-origin: 10% 50%;
    z-index: 1;
}

.specie-move {
    -webkit-transition: all 600ms ease-in-out 50ms;
    transition: all 600ms ease-in-out 50ms;
}

.specie-enter-active {
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

.specie-leave-active {
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    position: relative;
    z-index: 0;
}

.specie-enter, .company-leave-to {
    opacity: 0;
}

.specie-enter {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.specie__info {
    padding: 0 0.75rem;
    text-align: center;
}

.specie__name {
    margin: 0.75rem 0;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 2rem 0rem 1rem;
    margin: 0 1rem;
    border-bottom: 1px solid #c5d0d1;
}

.nav__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
    margin-top: -.2rem;
    cursor: pointer;
}

.nav__label {
    position: relative;
    margin-left: 1rem;
    text-transform: capitalize;
    z-index: 1;
    cursor: pointer;
}

.nav__label::after {
    content: '\00d7';
    display: inline-block;
    color: transparent;
    width: 0.5rem;
    font-weight: 400;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__label--clear {
    color: #c33;
    opacity: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    pointer-events: none;
    -webkit-transition: all 275ms ease-in-out;
    transition: all 275ms ease-in-out;
}

.nav__label--filter ~ .nav__label--clear {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
}

.nav__label--filter::after, .nav__label--active::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.nav__label--filter::after {
    content: '\2022';
    color: #c33;
}

.nav__label--active::after {
    content: '\00d7';
    color: #c33;
}

.dropdown {
    position: relative;
    margin: 0 1rem;
    overflow: hidden;
    -webkit-transition: height 350ms;
    transition: height 350ms;
}

.dropdown::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: -webkit-linear-gradient(bottom, white, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}

.dropdown-enter, .dropdown-leave-to {
    opacity: 0;
}

.dropdown-leave, .dropdown-enter-to {
    opacity: 1;
}

.dropdown-enter-active, .dropdown-leave-active {
    position: absolute;
    width: 100%;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.dropdown-enter-active {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}

.filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.filters__item {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #c5d0d1;
    border-radius: 3px;
    font-size: 0.8rem;
    line-height: 1.35;
    cursor: pointer;
    -webkit-transition: all 275ms;
    transition: all 275ms;
}

.filters__item:hover {
    border-color: #c33;
}

.filters__item--active {
    color: white;
    border-color: #c33;
    background-color: #c33;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #c33;
}

.specie__status {
    width: 2rem;
    height: 2rem;
    position: absolute;
    font-size: .8rem;
    font-weight: 700;
    right: 1.7rem;
    top: 1.5rem;
    border-radius: 50%;
    color: white;
    line-height: 2rem;
    cursor: pointer;
}

.specie__image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
}